/* CSS for aimfeld.ch */

body {
  	color: black; 
  	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color: #FFFFFF;
	margin-left: 20px;
	width: 720px;
	text-align: justify;
	
}

body li {
	/*list-style-type: disc;*/
	list-style-image: url("listmarker.gif");
	margin-top: 0.5em;
}

a:link, a:visited, a:active, a:hover{
    color: #0000FF; text-decoration: none
}

a:hover {
    text-decoration: underline
}

h1, h2, h3 {
	vertical-align: center;
	text-align: left;
	color: #000070;
}
h1 {
	font-size: large;
	padding-top: 20px;
	padding-bottom: 20px;
	background: url("head_big.gif") repeat-x center left;
}
h2 {
	font-size: medium;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 25px;
	background: url("head_middle.gif") repeat-x center left;
}
h3 {
	font-size: small;
	margin-top: 25px;
}

.figuresub {
	color: #646464;
	font-size: font-size: small;
	font-style: italic;
}


.HeavyTable {
	border: 2px solid #AAAAAA;
	border-collapse: collapse;
}
.HeavyTable th {
	vertical-align: center;
	color: #000070;
	font-weight: bold;
	border-top: 2px solid #AAAAAA;
	background: url("head_big.gif") repeat-x center left;

}
.HeavyTable td {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	vertical-align: top;
}
.HeavyTable th, .HeavyTable td {		
	text-align: left;	
	padding: 5px;
}


.LightTable {
	border: 1px solid #AAAAAA;
	border-collapse: collapse;
}
.LightTable th {
	vertical-align: center;
	color: #000070;
	font-weight: bold;
	border-top: 1px solid #AAAAAA;
	background: url("head_small.gif") repeat-x center left;
}
.LightTable th, .LightTable td {		
	text-align: left;	
	vertical-align: top;
	padding: 5px;
}

.LogoBackground {
	background: url("logo_background.jpg") 50% 50% no-repeat;
}



