---
---

// SASS variables -------------------------------------------------------------
$section-headings-color: #015599;

@import "{{ site.theme }}";

// Header ---------------------------------------------------------------------
.page-header {
    // From https://uigradients.com/#Sel
    background-image:none !important;
    background-color: black;
}

#header-cellmorphs {
    // https://www.freecodecamp.org/news/how-to-center-an-image-in-css/
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 180px;
    max-width: 1000px;
    margin: auto;
    img {
        width: 20%;
    }
}

// Hide buttons on mobile
header > .btn {
    @media screen and (max-width: 600px) {
        visibility: hidden;
        display: none;
    }
}

// Images ---------------------------------------------------------------------
.center-image {
    margin: 0 auto;
    display: block;
}

// Tables ---------------------------------------------------------------------
.center-table {
    text-align: center;
    table {
        display: inline-table;
    }
}

.examples-table {
    max-width: 400px;
    text-align: center;
}

.steps-table {
    max-width: 600px;
    img {
        width: 80px;
        height: 80px;
    }
    td {
        padding: 4px !important;
    }
}

.gene-table {
    font-size: smaller;
    text-align: center;
    padding: 4px !important;
}

.gallery-table {
    img {
        float: left;
        padding-right: 12px;
    }
    td {
        vertical-align:top;
    }
}
