---
---

//$section-headings-color: #00467F;

@import "{{ site.theme }}";


.page-header {
    // From https://uigradients.com/#Sel
    //background-image: linear-gradient(120deg, #00467F, #A5CC82);
}

.examples-table {		
    text-align: center;	
}

.steps-table {
    img {
        width: 80px;
        height: 80px;
    }
    td {
        padding: 4px !important;
    }
}

.gene-table {
    font-size: smaller;
    text-align: center;	
    padding: 4px !important;
}

.gallery-table {
    img {
        float: left;
        padding-right: 12px
    }
}